{% extends 'base.html' %} 
{% load static %}
{% block content %} 

<!-- 
<div class="slider_area ">
  <div class="slider_area_inner slider_bg_1 overlay2">
      <div class="slider_text text-center">
          <div class="text_inner">
              <img src="{% staticimages/banner/ornaments.png }%" alt="">
              <h4>By Me By Bo</h4>
              <h3>By Me By Bo <br>
                  </h3>
              <span>Planifier avec Nous</span>
          </div>
      </div>
  </div>
</div>

<div class="container">
  {% if pics %}
    {% for x in pics %}
      {% if x.name == div_class %}
        <img src="{{ x.image.url }}" alt="{{ x.alt }}">
        <p class="">{{ x.caption }}</p>
      {% endif %}
    {% empty %}
      <img src="{% static 'images/b9ddc38e5835fac634678392530003dc.png' %}" alt="">
      
    {% endfor %}
  {% else %}
    <img src="{% static 'images/b9ddc38e5835fac634678392530003dc.png' %}" alt="">
    
  {% endif %}
</div> -->
{% if pics %}
  {% for x in pics %}
    {% if x.name == div_class %}
       <div class="banner" style="background-image: url('{{ x.image.url }}');" id="images"></div>
    {% endif %}
   {% empty %}
    <div class="banner" style="background-image: url('/static/images/home.png');" id="images">
      {% endfor %}
    {% else %}
      <div class="banner" style="background-image: url('/static/images/home.png');" id="images"></div>
 {% endif %}
    <div class="banner__overlay">
      <div class="banner__container">
        <h1 class="banner__title">By Me By Bo</h1>
        <p class="banner__text">Depuis 2013</p>
        <a href="{% url 'Contact' %}" class="btn btn--opacity">Planifier avec Nous</a>
      </div>
      <img class="banner__scroll-down" src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiNGRkZGRkYiLz4KICA8L2c+Cjwvc3ZnPgo=" />
    </div>
  </div>



  <main>

    {% if aboutuspics %}
      {% for x in aboutuspics %}
        {% if x.name == div_class %}
          <div class="sect sect--great" id="aboutus" style="background-image: url('{{ x.image.url }}');">
        {% endif %}
      {% empty %}
        <div class="sect sect--great" id="aboutus" style="background-image: url('/static/images/Logo.jpg');">
      {% endfor %}
    {% else %}
        <div class="sect sect--great" id="aboutus" style="background-image: url('/static/images/Logo.jpg')">
    {% endif %}
          <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-sm-offset-4 col-md-offset-6">
              <div class="description">
            <h2 class="description__title">Qui nous-sommes?</h2>
            
            <p class="description__p">By me By BO est votre partenaire pour tous les évènements marquants de votre vie ou de votre entreprise.<br>
              By me By BO est née du désir de répondre à une demande accrue de prestation personnalisée dans le domaine de l'évènementiel pour les particuliers et les professionnels.<br>
              By me By BO est composée d'une équipe ayant un seul objectif la réussite de votre évènement et votre satisfaction.</p>
            <a href="{% url 'Contact' %}" class="btn">SAVOIR PLUS</a>
            </div>
            </div>
          </div>
        </div>
      </div>


      
  <div class="sect sect--brown sect--no-bottom" >
    <div class="container">
      <div class="row row--center">
        <div class="col-md-5 col-sm-6 col--inbl ">
          <h2 class="description__title" >Découvrir<br>NOS<br>PRESENTATION</h2>
          <p class="description__p" style="color:initial">By me By Bo vous propose les presentations suivants: Décoration de vos évènements et Location d'accesoire.</p>
          <a href="https://www.instagram.com/by_me_by_bo/?igshid=YmMyMTA2M2Y%3D" class="btn" target="myWindow">SAVOIR PLUS</a>
          <div class="carousel">
            <div class="carousel-inner">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item">
                    <img src="{% static 'images/Location_objet_1.jpeg' %}">
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="{% static 'images/wedding_byme_byBO.jpg' %}">
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="{% static 'images/Location_objet_2.jpg' %}">
                </div>
                <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="{% static 'images/candy_bar_prestation.jpg' %}">
                </div>
                <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="{% static 'images/wedding_prestation.jpg' %}">
                </div>
                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-4" class="carousel-control next control-3">›</label>
                <label for="carousel-3" class="carousel-control prev control-4">‹</label>
                <label for="carousel-5" class="carousel-control next control-4">›</label>
                <label for="carousel-4" class="carousel-control prev control-5">‹</label>
                <label for="carousel-1" class="carousel-control next control-5">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-4" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-5" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
        
        </div>
      </div>
  </div>
    </div>
    
  
  <div class="half-sect" id="contactus"">
    <div class="half half-sect__first">
      <div class="description">
        <h2 class="description__title">Nous Vous<br>accompagnons <br>POUR VOS<br>ÉVÈNEMENTS</h2>
        
        <p class="description__p">By me By BO vous accompagne dans les évèment suivants: Mariage, Fiançailles, Anniversaire, Baby Shower, Candy Shower, Baptême et Location. Nous vous accompagnons, pour la réussite de votre évènement dans la France entière.</p>
        <a href="{% url 'Contact' %}" class="btn">Contactez-Nous</a>
      </div>
  
    </div>
    
      <!-- <div class="half half-sect__second">  </div> -->
      {% if contactuspics %}
      {% for x in contactuspics %}
        {% if x.name == div_class %}
          <div class="half half-sect__second" id="aboutus" style="background-image: url('{{ x.image.url }}');">
        {% endif %}
      {% empty %}
        <div class="half half-sect__second" id="aboutus" style="background-image: url('/static/images/contact_image.jpeg');">
      {% endfor %}
    {% else %}
        <div class="half half-sect__second" id="aboutus" style="background-image: url('/static/images/contact_image.jpeg')">
    {% endif %}
      
  </div>
  
  {% if aboutuspics %}
      {% for x in aboutuspics %}
        {% if x.name == div_class %}
          <div class="sect sect--great" id="aboutus" style="background-image: url('{{ x.image.url }}');">
        {% endif %}
      {% empty %}
        <div class="sect sect--great" id="aboutus" style="background-image: url('/static/images/Logo.jpg');">
      {% endfor %}
    {% else %}
        <div class="sect sect--great" id="aboutus" style="background-image: url('/static/images/Logo.jpg')">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-7 col-sm-offset-4 col-md-offset-6">
          <div class="description">
        <h2 class="description__title">POURQUOI By be By BO?</h2>
        <p class="description__p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a href="{% url 'Contact' %}" class="btn">SAVOIR PLUS</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  
</main>


{% endblock %}